@charset "utf-8";
@import url(/css/base/reset.css);
@import url(/css/base/common.css);
/* @import url(/css/base/loading.css); */

/* @import url(form.css);
@import url(table.css);
@import url(button.css);
@import url(modal.css);
@import url(chart.css);
@import url(carousel.css); */

/* layout */
.layout {
  width: 100%;
  height: 100%;
  display: flex;
  background: #3c3e4a;
}
.layout > header {
  flex: 0 0 80px;

  font-size: 12px;
  padding: 30px 0;
}
.contentwrap {
  width: calc(100% - 200px);
  height: 100%;
  background: #eee;
}
.contents {
  display: flex;
  background: var(--base-wh-color);
  border-radius: 30px 0 0 30px;
  width: calc(100% - 80px);
}
.layout .lnb {
  flex: 0 0 200px;
  border-radius: 30px 0 0 30px;
  padding-top: 117px;
  padding-left: 32px;
  background: #25272f;
}
.contentwrap .content {
  height: calc(100% - 97px);
  width: 100%;
  overflow: auto;
}
footer {
  background: var(--base-txt-color);
  width: 100%;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  color: #636572;
}
.menuTop.layout > header {
  display: none;
}
.menuTop.layout .contentwrap {
  display: block;
  position: relative;
  height: calc(100% - 50px);
}
.menuTop.layout .lnb {
  position: absolute;
  width: 100%;
  height: 50px;
  background: #ccc;
}
.menuTop.layout .content {
  padding-top: 80px;
}
#app {
  height: 100%;
  min-height: 100%;
}
.wrap {
  height: 100%;
  min-height: 100%;
}
