

// region [Layout]

$starto__header__height: 66px;
$starto__footer__height: 40px;
$starto__sidebar__width: 300px;
$starto__full-menu__width: 420px;

// endregion


// region [Colors]

$strato__primary__color: #1C2536;
$strato__primary__blue__color: #1297F2;
$strato__primary__purple__color: #1C2536;

$strato__secondary__color: linear-gradient(90deg, #3E6EB3 0%, #7C0F80 100%);
$strato__background__color: #ffffff;
$strato__button__border__color: #036EB8;

$strato__success__color: #00BA88;
$strato__error__color: #B80303;
$strato__warning__color: #F38C25;

$strato__gray__100: #F7F9FA;
$strato__gray__200: #F6F6F6;
$strato__gray__300: #F2F2F2;
$strato__gray__400: #EEEEEE;
$strato__gray__500: #DDDDDD;
$strato__gray__600: #CCCCCC;
$strato__gray__700: #999999;
$strato__gray__800: #666666;
$strato__gray__900: #333333;

// endregion


// region [font-style]

$strato__default__font__color: #333333;
$strato__default__font__style: "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

// endregion


